<% if TodoItem.exists?(todo_item.id) %>
<li class="list-group-item" id="todo-lists">

  <div class="row" id="todo-item-list">
    <div class="todo-item-on-todo-list-detail">
      <%= todo_item.content %>
    </div>
    <div class="todo-item-edit-on-todo-list-deail">
    <%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id) do %>
      <button id="edit-btn"></button>
    <% end %>
    </div>
    <div class="todo-item-delete-on-todo-list-deail">
    <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
      <button id="delete-btn"></button>
    <% end %>
    </div>
  </div>
</li>
<% end %>